{% extends "../../base.html" %}
{% block title %}Agregar Delivery{% endblock %}
{% load static %}  

{% block content %}

<div class="pb-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-7 gap-4 text-gray-700">
    
    <div class="xl:col-span-3 space-y-4 p-4 md:p-6 max-h-[90vh] lg:p-2 rounded-xl shadow-2xl border border-gray-300">

        <div class="transition-all duration-500 ease-in-out xl:col-span-3 space-y-2 p-4 md:p-6 max-h-[90vh] lg:p-2 rounded-lg shadow-md border-2 border-gray-200">

            <div class="">
                <div class="flex items-center justify-between">
                    <div>
                        <h3 class="text-lg font-semibold pl-1">Agregar Productos</h3>
                    </div>
                    <div class='flex justify-between w-[50%] items-center'>
                        <input 
                            type="text"
                            placeholder='Busca por nombre'
                            id="buscador"
                            value=""
                            class='p-2 bg-gray-300 outline-none rounded-lg w-full'
                        />
                    </div>
                </div>

            </div>
            
            <hr class=' border-gray-200' />

            <div id="productos-container" class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-2 overflow-y-auto max-h-[75vh] min-h-0 p-2 pt-0 rounded-lg">
            
            </div>
        </div>

    </div>

    <div class="xl:col-span-4 max-h-[95vh] space-y-4 md:p-2 rounded-xl shadow-2xl border border-gray-300">

        
        <div class="rounded-lg shadow-md border-2 border-gray-200">
        
            <div class="p-2 pb-0 flex flex-col items-center justify-between w-full border-b-1 border-gray-200">
                
                <div class='flex justify-between w-full overflow-x-auto items-center mb-2'>
                    
                    <input 
                        type="text"
                        id="nombre-cliente"
                        placeholder='Inserta cliente...'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />

                    <select class='p-2 bg-gray-300 outline-none rounded-lg mr-1' name="tipo" id="tipo" onchange="handleTipoPago()">
                        <option value="1">Córdobas</option>
                        <option value="2">Dólares</option>
                        <option value="3">Mixto</option>
                        <option value="4">Tarjeta</option>
                    </select>

                    <input 
                        type="text"
                        id="efectivo"
                        placeholder='Córdobas'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-45 mr-1'
                    />
                    
                    <button onclick="guardarFactura()" class="bg-gradient-to-r from-green-800 via-green-700 to-green-500 hover:from-green-900 hover:via-green-800 hover:to-green-600 text-white shadow-lg transition-all duration-300 font-semibold cursor-pointer rounded-lg w-50 p-2 active:scale-95">
                        Guardar
                    </button>
                </div>

            </div>

            <div class="">

                <div class="transition-all duration-500 ease-in-out overflow-y-auto border-b-2 border-b-gray-200 flex xl:max-h-[75vh] max-h-[32rem]">
                    <table class="min-w-[550px] overflow-y-auto w-full border-collapse mb-5" id="tabla-factura">
                        <thead class="sticky top-0 z-10 bg-gray-100 table w-[100%] overflow-y-auto table-fixed font-bold border border-t-0  border-l-0 border-r-0 border-b-gray-200">
                            <tr>
                                <th class="p-2">#</th>
                                <th class="p-2">Producto</th>
                                <th class="p-2">Cantidad</th>
                                <th class="p-2">Precio</th>
                                <th class="p-2">Subtotal</th>       
                                <th class="p-2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo-factura" class="text-sm overflow-y-auto table-fixed font-medium text-center block">
                        </tbody>
                    </table>   
                </div>

                <div class="flex justify-between items-center font-black mb-2 pt-2 px-4">
                    <span class="text-2xl">Total</span>
                    <span id="total-final" class="text-2xl text-green-700">C$0.00</span>
                </div>

            </div>

        </div>

    </div>

</div>
{% endblock %}


{% block scripts %}

<script src="{% static 'js/delivery.js' %}"></script>

{% endblock %}
