{% extends "../../base.html" %}
{% block title %}Historial Facturas{% endblock %}
{% load static %}
{% block content %}
<div class="container mx-auto p-4 max-w-full rounded-md shadow-md">

    <div class='flex justify-between items-center mb-5'>
        
        <div>
            <h1 class="text-3xl font-bold text-gray-900 mb-2">Control de Facturas</h1>
            <p class="text-gray-600">Historial de Facturas</p>
        </div>
        
        {% if rolid == 1 %}
        <select id="filtroVendedor" class="p-2  bg-gray-300 outline-none rounded-lg w-[20%] text-gray-700">
            <option value="" selected>Filtrar por Usuario</option>
            {% for usuario in usuarios %}
            <option value="{{ usuario.usuarioid }}">{{ usuario.nombre }}</option>
            {% endfor %} 
        </select>

        <select id="filtroFecha" class="p-2 bg-gray-300 outline-none rounded-lg w-[20%] text-gray-700">
            <option value="" selected>Filtrar por fechas</option>
            <option value="hoy">Hoy</option>
            <option value="semana">Esta Semana</option>
            <option value="mes">Este Mes</option>
            <option value="anio">Este Año</option>
            <option value="rango">Rango de Fechas</option>
        </select>

        <form id="form-generar-reporte" class="w-[20%] flex justify-end" method="POST">
            {% csrf_token %}
            <div class="flex w-full justify-end items-center">
                <button id="generar_reporte_factura" type="button" class='text-ellipsis bg-orange-500 rounded-lg w-[60%] h-10 p-2 text-gray-100 font-semibold flex items-center justify-around hover:bg-orange-500/80 transition-colors cursor-pointer'>
                
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-ellipsis overflow-hidden whitespace-nowrap">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                </svg>

                Generar
                </button>
            </div>
        </form>
        {% endif %}
    </div>

    <hr class=' border-gray-500/30' />

    <div class="rounded-tr-lg rounded-tl-lg overflow-y-auto flex-1 min-h-0">
  
        <table id="datos" class="w-full table-fixed border-collapse mb-5 rounded-lg">
            <thead class="sticky top-0 bg-gray-100 z-10 p-3 border border-t-0 border-l-0 border-r-0 border-b-gray-200">
                <tr class="">
                    <th class="p-2 text-xl">#</th>
                    <th class="p-2 text-xl">No. Factura</th>
                    <th class="p-2 text-xl">Vendedor</th>
                    <th class="p-2 text-xl">Cliente</th>
                    <th class="p-2 text-xl">Fecha</th>
                    <th class="p-2 text-xl">Hora</th>
                    <th class="p-2 text-xl">Productos</th>
                    <th class="p-2 text-xl">Total</th>
                    <th class="p-2 text-xl">Actions</th>
                </tr>
            </thead>
            <tbody class="p-2 rounded-lg w-full">
                {% for factura in facturas %}
                <tr class="main-row hover:bg-gray-200 rounded-lg transition-colors" data-vendedor="{{ factura.usuarioid.usuarioid }}">
                    <td class="p-2 text-xl text-center">{{ factura.cont }}</td>
                    <td class="p-2 text-xl text-center">{{ factura.facturaid }}</td>
                    <td class="p-2 text-xl text-center">{{ factura.usuarioid.nombre }}</td>
                    <td class="p-2 text-xl text-center">{{ factura.clientenombre }}</td>
                    <td class="p-2 text-xl text-center">{{ factura.fecha|date:"d/m/Y"  }}</td>
                    <td class="p-2 text-xl text-center">{{ factura.fecha|time:"H:i"  }}</td>
                    <td class="p-2 text-xl text-center">{{ factura.cantProductos }}</td>
                    <td class="p-2 text-xl text-center">C$ {{ factura.total|floatformat:2 }}</td>
                    <td class="p-2 text-xl text-center">
                        <div class="grid grid-cols-3 gap-2 w-full">
                            <svg onclick="anularFactura({{ factura.facturaid }})" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer size-12 rounded-lg text-red-500 hover:bg-gray-300 p-1 w-full">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>

                            <svg data-id="{{ factura.facturaid }}" style="cursor:pointer;" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 rounded-lg text-blue-950 hover:bg-gray-300 p-1 w-full ver-detalle">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>

                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-12 rounded-lg text-green-500 hover:bg-gray-300 p-1 w-full">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0 1 10.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0 .229 2.523a1.125 1.125 0 0 1-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0 0 21 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 0 0-1.913-.247M6.34 18H5.25A2.25 2.25 0 0 1 3 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 0 1 1.913-.247m10.5 0a48.536 48.536 0 0 0-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5Zm-3 0h.008v.008H15V10.5Z" />
                            </svg>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
    </div>
    <hr class=' border-gray-500/30'/>
    <div class="flex justify-center items-center mt-5">
        {% if facturas.has_previous %}
            <a href="?page=1" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">&laquo; Primero</a>
            <a href="?page={{ facturas.previous_page_number }}" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Anterior</a>
        {% endif %}

        <span class="px-3 py-1 bg-gray-100 rounded text-gray-700">Página {{ facturas.number }} de {{ facturas.paginator.num_pages }}</span>

        {% if facturas.has_next %}
            <a href="?page={{ facturas.next_page_number }}" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Siguiente</a>
            <a href="?page={{ facturas.paginator.num_pages }}" class="px-3 py-1 bg-gray-200 rounded hover:bg-gray-300">Último &raquo;</a>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block scripts %}
<script>
    const URL_IMPRIMIR_FACTURAS = "{% url 'imprimir_registro_facturas' %}";
    const URL_PDF_FACTURA = "{% url 'registro_factura_pdf' %}";
</script>

<script src="{% static "js/pdf/generarReporteFactura.js" %}"></script>

<script src="{% static "js/anularFactura.js" %}"></script> 
<script src="{% static "js/historialFacturacion.js" %}"></script> 
{% endblock %}