{% extends "../../base.html" %}
{% block title %}Agregar Cuentas{% endblock %}
{% load static %}  

{% block content %}

<div class="mt-3 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-7 gap-4 max-h-[95vh] text-gray-700">
    
    <div class="xl:col-span-3 space-y-4 p-4 md:p-6 max-h-[95vh] lg:p-2 rounded-xl shadow-2xl border border-gray-300">

        <div>
            <div class="">
                <div class="py-3 px-0 flex items-center justify-between">
                    <div>
                        <h3 class="text-lg font-semibold">Agregar de Productos</h3>
                    </div>

                    <div>
                        <button id="btn-agregar-mesa" class="inline-flex items-center px-4 py-2 relative bg-gradient-to-r from-amber-500 to-orange-500 hover:from-amber-600 hover:to-orange-600 text-white font-semibold bg-amber-500 rounded-md shadow-md cursor-pointer transition-all duration-200 hover:shadow-lg active:scale-95">
                            <p class="" >Agregar Cuenta</p>

                            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 w-5 h-5 ml-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                            </svg>
                        </button> 
                    </div> 
                </div>
    
                <div class="space-y-4">
                    <div class='flex justify-between w-full items-center mb-5'>
                        <input 
                            type="text"
                            placeholder='Busca por nombre'
                            id="buscador"
                            value=""
                            class='p-2 bg-gray-300 outline-none rounded-lg w-full'
                        />
                    </div>
                </div>
            </div>
        </div>

        <div id="productos-container" class="overflow-y-auto h-[75vh] grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-2  min-h-0 p-2 rounded-lg">
            
            <div class="flex flex-col justify-between rounded-lg shadow-sm h-auto max-h-[16rem]">


                
                <div class="flex-1 object-contain relative bg-gradient-to-tr from-gray-100 via-gray-300/90 to-gray-100 text-gray-800 rounded-lg rounded-b-none">
                    <img src="{% static 'image/cerveza.png' %}" alt="Toña" class="object-contain w-full h-32 rounded-lg rounded-b-none" />

                    <!-- Ícono de ojo -->
                    <button class="absolute top-2 right-2 p-1 bg-opacity-90 rounded-full cursor-pointer transition-all duration-200 hover:scale-110"
                            data-nombre="${producto.nombre}" 
                            data-categoria="${producto.categoria || ''}" 
                            data-presentacion="${producto.presentacion || ''}"
                            data-concentracion="${producto.concentracion || ''}" 
                            data-descripcion="${producto.descripcion || 'Sin descripción'}"
                            data-imagen="${producto.imagen}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center justify-between p-2 bg-white rounded-lg rounded-t-none shadow-md">
                    <div class="w-full flex items-center justify-center">
                        <h1 class="font-black text-xl">Photo</h1>
                    </div>

                    <div class=" flex flex-col w-full items-center justify-between mt-2">
                        
                        <div class="flex flex-col items-center w-full justify-between">
                            <span class="font-bold text-2xl text-green-600">C$ 343.2</span>
                        </div>

                        <div class="flex justify-between items-center w-full mt-2">
                            <p class="text-sm text-muted-foreground font-bold">Stock: 100</p>
                            <button class="cursor-pointer agregar-btn flex justify-center items-center text-gray-900 py-2 hover:bg-gray-200 p-4 rounded-lg" data-id="${producto.id}" data-nombre="${producto.nombre}" data-precio="${producto.precio}" data-stock="${producto.stock}">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 flex mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                                Agregar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg shadow-sm h-auto max-h-[16rem]">


                
                <div class="flex-1 object-contain relative bg-gradient-to-tr from-gray-100 via-gray-300/90 to-gray-100 text-gray-800 rounded-lg rounded-b-none">
                    <img src="{% static 'image/cerveza.png' %}" alt="Toña" class="object-contain w-full h-32 rounded-lg rounded-b-none" />

                    <!-- Ícono de ojo -->
                    <button class="absolute top-2 right-2 p-1 bg-opacity-90 rounded-full cursor-pointer transition-all duration-200 hover:scale-110"
                            data-nombre="${producto.nombre}" 
                            data-categoria="${producto.categoria || ''}" 
                            data-presentacion="${producto.presentacion || ''}"
                            data-concentracion="${producto.concentracion || ''}" 
                            data-descripcion="${producto.descripcion || 'Sin descripción'}"
                            data-imagen="${producto.imagen}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center justify-between p-2 bg-white rounded-lg rounded-t-none shadow-md">
                    <div class="w-full flex items-center justify-center">
                        <h1 class="font-black text-xl">Photo</h1>
                    </div>

                    <div class=" flex flex-col w-full items-center justify-between mt-2">
                        
                        <div class="flex flex-col items-center w-full justify-between">
                            <span class="font-bold text-2xl text-green-600">C$ 343.2</span>
                        </div>

                        <div class="flex justify-between items-center w-full mt-2">
                            <p class="text-sm text-muted-foreground font-bold">Stock: 100</p>
                            <button class="cursor-pointer agregar-btn flex justify-center items-center text-gray-900 py-2 hover:bg-gray-200 p-4 rounded-lg" data-id="${producto.id}" data-nombre="${producto.nombre}" data-precio="${producto.precio}" data-stock="${producto.stock}">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 flex mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                                Agregar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg shadow-sm h-auto max-h-[16rem]">


                
                <div class="flex-1 object-contain relative bg-gradient-to-tr from-gray-100 via-gray-300/90 to-gray-100 text-gray-800 rounded-lg rounded-b-none">
                    <img src="{% static 'image/cerveza.png' %}" alt="Toña" class="object-contain w-full h-32 rounded-lg rounded-b-none" />

                    <!-- Ícono de ojo -->
                    <button class="absolute top-2 right-2 p-1 bg-opacity-90 rounded-full cursor-pointer transition-all duration-200 hover:scale-110"
                            data-nombre="${producto.nombre}" 
                            data-categoria="${producto.categoria || ''}" 
                            data-presentacion="${producto.presentacion || ''}"
                            data-concentracion="${producto.concentracion || ''}" 
                            data-descripcion="${producto.descripcion || 'Sin descripción'}"
                            data-imagen="${producto.imagen}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center justify-between p-2 bg-white rounded-lg rounded-t-none shadow-md">
                    <div class="w-full flex items-center justify-center">
                        <h1 class="font-black text-xl">Photo</h1>
                    </div>

                    <div class=" flex flex-col w-full items-center justify-between mt-2">
                        
                        <div class="flex flex-col items-center w-full justify-between">
                            <span class="font-bold text-2xl text-green-600">C$ 343.2</span>
                        </div>

                        <div class="flex justify-between items-center w-full mt-2">
                            <p class="text-sm text-muted-foreground font-bold">Stock: 100</p>
                            <button class="cursor-pointer agregar-btn flex justify-center items-center text-gray-900 py-2 hover:bg-gray-200 p-4 rounded-lg" data-id="${producto.id}" data-nombre="${producto.nombre}" data-precio="${producto.precio}" data-stock="${producto.stock}">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 flex mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                                Agregar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg shadow-sm h-auto max-h-[16rem]">


                
                <div class="flex-1 object-contain relative bg-gradient-to-tr from-gray-100 via-gray-300/90 to-gray-100 text-gray-800 rounded-lg rounded-b-none">
                    <img src="{% static 'image/cerveza.png' %}" alt="Toña" class="object-contain w-full h-32 rounded-lg rounded-b-none" />

                    <!-- Ícono de ojo -->
                    <button class="absolute top-2 right-2 p-1 bg-opacity-90 rounded-full cursor-pointer transition-all duration-200 hover:scale-110"
                            data-nombre="${producto.nombre}" 
                            data-categoria="${producto.categoria || ''}" 
                            data-presentacion="${producto.presentacion || ''}"
                            data-concentracion="${producto.concentracion || ''}" 
                            data-descripcion="${producto.descripcion || 'Sin descripción'}"
                            data-imagen="${producto.imagen}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center justify-between p-2 bg-white rounded-lg rounded-t-none shadow-md">
                    <div class="w-full flex items-center justify-center">
                        <h1 class="font-black text-xl">Photo</h1>
                    </div>

                    <div class=" flex flex-col w-full items-center justify-between mt-2">
                        
                        <div class="flex flex-col items-center w-full justify-between">
                            <span class="font-bold text-2xl text-green-600">C$ 343.2</span>
                        </div>

                        <div class="flex justify-between items-center w-full mt-2">
                            <p class="text-sm text-muted-foreground font-bold">Stock: 100</p>
                            <button class="cursor-pointer agregar-btn flex justify-center items-center text-gray-900 py-2 hover:bg-gray-200 p-4 rounded-lg" data-id="${producto.id}" data-nombre="${producto.nombre}" data-precio="${producto.precio}" data-stock="${producto.stock}">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 flex mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                                Agregar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg shadow-sm h-auto max-h-[16rem]">


                
                <div class="flex-1 object-contain relative bg-gradient-to-tr from-gray-100 via-gray-300/90 to-gray-100 text-gray-800 rounded-lg rounded-b-none">
                    <img src="{% static 'image/cerveza.png' %}" alt="Toña" class="object-contain w-full h-32 rounded-lg rounded-b-none" />

                    <!-- Ícono de ojo -->
                    <button class="absolute top-2 right-2 p-1 bg-opacity-90 rounded-full cursor-pointer transition-all duration-200 hover:scale-110"
                            data-nombre="${producto.nombre}" 
                            data-categoria="${producto.categoria || ''}" 
                            data-presentacion="${producto.presentacion || ''}"
                            data-concentracion="${producto.concentracion || ''}" 
                            data-descripcion="${producto.descripcion || 'Sin descripción'}"
                            data-imagen="${producto.imagen}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center justify-between p-2 bg-white rounded-lg rounded-t-none shadow-md">
                    <div class="w-full flex items-center justify-center">
                        <h1 class="font-black text-xl">Photo</h1>
                    </div>

                    <div class=" flex flex-col w-full items-center justify-between mt-2">
                        
                        <div class="flex flex-col items-center w-full justify-between">
                            <span class="font-bold text-2xl text-green-600">C$ 343.2</span>
                        </div>

                        <div class="flex justify-between items-center w-full mt-2">
                            <p class="text-sm text-muted-foreground font-bold">Stock: 100</p>
                            <button class="cursor-pointer agregar-btn flex justify-center items-center text-gray-900 py-2 hover:bg-gray-200 p-4 rounded-lg" data-id="${producto.id}" data-nombre="${producto.nombre}" data-precio="${producto.precio}" data-stock="${producto.stock}">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 flex mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                                Agregar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg shadow-sm h-auto max-h-[16rem]">


                
                <div class="flex-1 object-contain relative bg-gradient-to-tr from-gray-100 via-gray-300/90 to-gray-100 text-gray-800 rounded-lg rounded-b-none">
                    <img src="{% static 'image/cerveza.png' %}" alt="Toña" class="object-contain w-full h-32 rounded-lg rounded-b-none" />

                    <!-- Ícono de ojo -->
                    <button class="absolute top-2 right-2 p-1 bg-opacity-90 rounded-full cursor-pointer transition-all duration-200 hover:scale-110"
                            data-nombre="${producto.nombre}" 
                            data-categoria="${producto.categoria || ''}" 
                            data-presentacion="${producto.presentacion || ''}"
                            data-concentracion="${producto.concentracion || ''}" 
                            data-descripcion="${producto.descripcion || 'Sin descripción'}"
                            data-imagen="${producto.imagen}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center justify-between p-2 bg-white rounded-lg rounded-t-none shadow-md">
                    <div class="w-full flex items-center justify-center">
                        <h1 class="font-black text-xl">Photo</h1>
                    </div>

                    <div class=" flex flex-col w-full items-center justify-between mt-2">
                        
                        <div class="flex flex-col items-center w-full justify-between">
                            <span class="font-bold text-2xl text-green-600">C$ 343.2</span>
                        </div>

                        <div class="flex justify-between items-center w-full mt-2">
                            <p class="text-sm text-muted-foreground font-bold">Stock: 100</p>
                            <button class="cursor-pointer agregar-btn flex justify-center items-center text-gray-900 py-2 hover:bg-gray-200 p-4 rounded-lg" data-id="${producto.id}" data-nombre="${producto.nombre}" data-precio="${producto.precio}" data-stock="${producto.stock}">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 flex mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                                Agregar
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex flex-col justify-between rounded-lg shadow-sm h-auto max-h-[16rem]">


                
                <div class="flex-1 object-contain relative bg-gradient-to-tr from-gray-100 via-gray-300/90 to-gray-100 text-gray-800 rounded-lg rounded-b-none">
                    <img src="{% static 'image/cerveza.png' %}" alt="Toña" class="object-contain w-full h-32 rounded-lg rounded-b-none" />

                    <!-- Ícono de ojo -->
                    <button class="absolute top-2 right-2 p-1 bg-opacity-90 rounded-full cursor-pointer transition-all duration-200 hover:scale-110"
                            data-nombre="${producto.nombre}" 
                            data-categoria="${producto.categoria || ''}" 
                            data-presentacion="${producto.presentacion || ''}"
                            data-concentracion="${producto.concentracion || ''}" 
                            data-descripcion="${producto.descripcion || 'Sin descripción'}"
                            data-imagen="${producto.imagen}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center justify-between p-2 bg-white rounded-lg rounded-t-none shadow-md">
                    <div class="w-full flex items-center justify-center">
                        <h1 class="font-black text-xl">Photo</h1>
                    </div>

                    <div class=" flex flex-col w-full items-center justify-between mt-2">
                        
                        <div class="flex flex-col items-center w-full justify-between">
                            <span class="font-bold text-2xl text-green-600">C$ 343.2</span>
                        </div>

                        <div class="flex justify-between items-center w-full mt-2">
                            <p class="text-sm text-muted-foreground font-bold">Stock: 100</p>
                            <button class="cursor-pointer agregar-btn flex justify-center items-center text-gray-900 py-2 hover:bg-gray-200 p-4 rounded-lg" data-id="${producto.id}" data-nombre="${producto.nombre}" data-precio="${producto.precio}" data-stock="${producto.stock}">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 flex mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                                Agregar
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            
            





        </div>
    </div>

    <div class="xl:col-span-4 overflow-y-auto max-h-[95vh] space-y-4 p-4 md:p-2 rounded-xl shadow-2xl border border-gray-300">


        <div class="rounded-lg shadow-md border-2 border-gray-200">
        
            <div class="space-y-4 p-2 flex flex-col items-center justify-between w-full border-b-1 border-gray-200">
                <div class='flex justify-between w-full overflow-x-auto items-center mb-5'>
                    
                    <input 
                        type="text"
                        id="nombre-cliente"
                        placeholder='Inserta cliente...'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />

                    <select class='p-2 bg-gray-300 outline-none rounded-lg mr-1' name="tipo" id="tipo" onchange="handleTipoPago()">
                        <option value="1">Córdobas</option>
                        <option value="2">Dólares</option>
                        <option value="3">Mixto</option>
                        <option value="4">Tarjeta</option>
                    </select>

                    <input 
                        type="text"
                        id="efectivo"
                        placeholder='Córdobas'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-45 mr-1'
                    />
                    
                    <button onclick="guardarFactura()" class="bg-gradient-to-r from-green-800 via-green-700 to-green-500 hover:from-green-900 hover:via-green-800 hover:to-green-600 text-white shadow-lg transition-all duration-300 font-semibold cursor-pointer rounded-lg w-50 p-2 active:scale-95">
                        Guardar
                    </button>
                </div>
            </div>

            <div>

                <div class="overflow-auto block border-b-2 border-b-gray-200 max-h-[300px]">
                    <table class="min-w-[642px] overflow-x-auto w-full border-collapse mb-5" id="tabla-factura">
                        <thead class="table w-[100%] overflow-x-auto table-fixed font-bold p-3 border border-t-0  border-l-0 border-r-0 border-b-gray-200">
                            <tr>
                                <th class=" p-3">#</th>
                                <th class=" p-3">Producto</th>
                                <th class=" p-3">Cantidad</th>
                                <th class=" p-3">Precio Venta</th>
                                <th class=" p-3">Subtotal</th>       
                                <th class=" p-3">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo-factura" class="text-sm table-fixed font-medium text-center block">
                            
                            <tr class=" table w-[100%] table-fixed">
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">1</td>
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">Salsa Jalapeña a la francesa Lorem ipsum dolor</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <input type="number" ${maxAttr} min="1" value="1" class="cantidad w-14 text-center border rounded" />
                                </td>
                                <td class="text-center m-auto wrap-break-word">
                                    C$<input type="number" min="1" value="${precio}" class="precio w-20 text-center border rounded" />
                                </td>
                                <td class="text-center px-2 py-1 subtotal font-semibold wrap-break-word p-2">C$ 60.3</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <button class="text-red-600 hover:text-red-800 eliminar-item p-2 rounded-lg hover:bg-gray-200">
                                        <svg fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                                            <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
                                            1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
                                            1-2.244 2.077H8.084a2.25 2.25 0 0 
                                            1-2.244-2.077L4.772 5.79m14.456 
                                            0a48.108 48.108 0 0 0-3.478-.397m-12 
                                            .562c.34-.059.68-.114 1.022-.165m0 
                                            0a48.11 48.11 0 0 1 3.478-.397m7.5 
                                            0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
                                            51.964 0 0 0-3.32 0c-1.18.037-2.09 
                                            1.022-2.09 2.201v.916m7.5 
                                            0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>  
                                    </button>
                                </td>
                            </tr>

                            <tr class=" table w-[100%] table-fixed">
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">1</td>
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">Toña</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <input type="number" ${maxAttr} min="1" value="1" class="cantidad w-14 text-center border rounded" />
                                </td>
                                <td class="text-center m-auto wrap-break-word">
                                    C$<input type="number" min="1" value="${precio}" class="precio w-20 text-center border rounded" />
                                </td>
                                <td class="text-center px-2 py-1 subtotal font-semibold wrap-break-word p-2">C$ 60.3</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <button class="text-red-600 hover:text-red-800 eliminar-item p-2 rounded-lg hover:bg-gray-200">
                                        <svg fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                                            <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
                                            1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
                                            1-2.244 2.077H8.084a2.25 2.25 0 0 
                                            1-2.244-2.077L4.772 5.79m14.456 
                                            0a48.108 48.108 0 0 0-3.478-.397m-12 
                                            .562c.34-.059.68-.114 1.022-.165m0 
                                            0a48.11 48.11 0 0 1 3.478-.397m7.5 
                                            0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
                                            51.964 0 0 0-3.32 0c-1.18.037-2.09 
                                            1.022-2.09 2.201v.916m7.5 
                                            0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>  
                                    </button>
                                </td>
                            </tr>

                            <tr class=" table w-[100%] table-fixed">
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">1</td>
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">Toña</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <input type="number" ${maxAttr} min="1" value="1" class="cantidad w-14 text-center border rounded" />
                                </td>
                                <td class="text-center m-auto wrap-break-word">
                                    C$<input type="number" min="1" value="${precio}" class="precio w-20 text-center border rounded" />
                                </td>
                                <td class="text-center px-2 py-1 subtotal font-semibold wrap-break-word p-2">C$ 60.3</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <button class="text-red-600 hover:text-red-800 eliminar-item p-2 rounded-lg hover:bg-gray-200">
                                        <svg fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                                            <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
                                            1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
                                            1-2.244 2.077H8.084a2.25 2.25 0 0 
                                            1-2.244-2.077L4.772 5.79m14.456 
                                            0a48.108 48.108 0 0 0-3.478-.397m-12 
                                            .562c.34-.059.68-.114 1.022-.165m0 
                                            0a48.11 48.11 0 0 1 3.478-.397m7.5 
                                            0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
                                            51.964 0 0 0-3.32 0c-1.18.037-2.09 
                                            1.022-2.09 2.201v.916m7.5 
                                            0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>  
                                    </button>
                                </td>
                            </tr>

                            <tr class=" table w-[100%] table-fixed">
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">1</td>
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">Toña</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <input type="number" ${maxAttr} min="1" value="1" class="cantidad w-14 text-center border rounded" />
                                </td>
                                <td class="text-center m-auto wrap-break-word">
                                    C$<input type="number" min="1" value="${precio}" class="precio w-20 text-center border rounded" />
                                </td>
                                <td class="text-center px-2 py-1 subtotal font-semibold wrap-break-word p-2">C$ 60.3</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <button class="text-red-600 hover:text-red-800 eliminar-item p-2 rounded-lg hover:bg-gray-200">
                                        <svg fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                                            <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
                                            1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
                                            1-2.244 2.077H8.084a2.25 2.25 0 0 
                                            1-2.244-2.077L4.772 5.79m14.456 
                                            0a48.108 48.108 0 0 0-3.478-.397m-12 
                                            .562c.34-.059.68-.114 1.022-.165m0 
                                            0a48.11 48.11 0 0 1 3.478-.397m7.5 
                                            0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
                                            51.964 0 0 0-3.32 0c-1.18.037-2.09 
                                            1.022-2.09 2.201v.916m7.5 
                                            0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>  
                                    </button>
                                </td>
                            </tr>

                            <tr class=" table w-[100%] table-fixed">
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">1</td>
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">Toña</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <input type="number" ${maxAttr} min="1" value="1" class="cantidad w-14 text-center border rounded" />
                                </td>
                                <td class="text-center m-auto wrap-break-word">
                                    C$<input type="number" min="1" value="${precio}" class="precio w-20 text-center border rounded" />
                                </td>
                                <td class="text-center px-2 py-1 subtotal font-semibold wrap-break-word p-2">C$ 60.3</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <button class="text-red-600 hover:text-red-800 eliminar-item p-2 rounded-lg hover:bg-gray-200">
                                        <svg fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                                            <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
                                            1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
                                            1-2.244 2.077H8.084a2.25 2.25 0 0 
                                            1-2.244-2.077L4.772 5.79m14.456 
                                            0a48.108 48.108 0 0 0-3.478-.397m-12 
                                            .562c.34-.059.68-.114 1.022-.165m0 
                                            0a48.11 48.11 0 0 1 3.478-.397m7.5 
                                            0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
                                            51.964 0 0 0-3.32 0c-1.18.037-2.09 
                                            1.022-2.09 2.201v.916m7.5 
                                            0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>  
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>   
                </div>

                <div class="flex justify-between items-center font-black mb-2 pt-2 px-4">
                    <span class="text-2xl">Total</span>
                    <span id="total-final" class="text-2xl text-green-700">C$0.00</span>
                </div>

            </div>

        </div>

        <div class="rounded-lg shadow-md border-2 border-gray-200">
        
            <div class="space-y-4 p-2 flex flex-col items-center justify-between w-full border-b-1 border-gray-200">
                <div class='flex justify-between w-full overflow-x-auto items-center mb-5'>
                    
                    <input 
                        type="text"
                        id="nombre-cliente"
                        placeholder='Inserta cliente...'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />

                    <select class='p-2 bg-gray-300 outline-none rounded-lg mr-1' name="tipo" id="tipo" onchange="handleTipoPago()">
                        <option value="1">Córdobas</option>
                        <option value="2">Dólares</option>
                        <option value="3">Mixto</option>
                        <option value="4">Tarjeta</option>
                    </select>

                    <input 
                        type="text"
                        id="efectivo"
                        placeholder='Córdobas'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />
                    
                    <button onclick="guardarFactura()" class="bg-gradient-to-r from-green-800 via-green-700 to-green-500 hover:from-green-900 hover:via-green-800 hover:to-green-600 text-white shadow-lg transition-all duration-300 font-semibold cursor-pointer rounded-lg w-40 p-2 active:scale-95">
                        Guardar
                    </button>
                </div>
            </div>

            <div>

                <div class="overflow-y-auto block border-b-2 border-b-gray-200 max-h-[300px]">
                    <table class="min-w-[642px] overflow-x-auto w-full border-collapse mb-5" id="tabla-factura">
                        <thead class="table w-[100%] overflow-x-auto table-fixed font-bold p-3 border border-t-0  border-l-0 border-r-0 border-b-gray-200">
                            <tr>
                                <th class=" p-3">#</th>
                                <th class=" p-3">Producto</th>
                                <th class=" p-3">Cantidad</th>
                                <th class=" p-3">Precio Venta</th>
                                <th class=" p-3">Subtotal</th>       
                                <th class=" p-3">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo-factura" class="text-sm table-fixed font-medium text-center block">
                            
                            <tr class=" table w-[100%] table-fixed">
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">1</td>
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">Toña</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <input type="number" ${maxAttr} min="1" value="1" class="cantidad w-14 text-center border rounded" />
                                </td>
                                <td class="text-center m-auto wrap-break-word">
                                    C$<input type="number" min="1" value="${precio}" class="precio w-20 text-center border rounded" />
                                </td>
                                <td class="text-center px-2 py-1 subtotal font-semibold wrap-break-word p-2">C$ 60.3</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <button class="text-red-600 hover:text-red-800 eliminar-item p-2 rounded-lg hover:bg-gray-200">
                                        <svg fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                                            <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
                                            1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
                                            1-2.244 2.077H8.084a2.25 2.25 0 0 
                                            1-2.244-2.077L4.772 5.79m14.456 
                                            0a48.108 48.108 0 0 0-3.478-.397m-12 
                                            .562c.34-.059.68-.114 1.022-.165m0 
                                            0a48.11 48.11 0 0 1 3.478-.397m7.5 
                                            0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
                                            51.964 0 0 0-3.32 0c-1.18.037-2.09 
                                            1.022-2.09 2.201v.916m7.5 
                                            0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>  
                                    </button>
                                </td>
                            </tr>

                            

                        </tbody>
                    </table>   
                </div>

                <div class="flex justify-between items-center font-black mb-2 pt-2 px-4">
                    <span class="text-2xl">Total</span>
                    <span id="total-final" class="text-2xl text-green-700">C$0.00</span>
                </div>

            </div>

        </div>

        <div class="rounded-lg shadow-md border-2 border-gray-200">
        
            <div class="space-y-4 p-2 flex flex-col items-center justify-between w-full border-b-1 border-gray-200">
                <div class='flex justify-between w-full overflow-x-auto items-center mb-5'>
                    
                    <input 
                        type="text"
                        id="nombre-cliente"
                        placeholder='Inserta cliente...'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />

                    <select class='p-2 bg-gray-300 outline-none rounded-lg mr-1' name="tipo" id="tipo" onchange="handleTipoPago()">
                        <option value="1">Córdobas</option>
                        <option value="2">Dólares</option>
                        <option value="3">Mixto</option>
                        <option value="4">Tarjeta</option>
                    </select>

                    <input 
                        type="text"
                        id="efectivo"
                        placeholder='Córdobas'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />
                    
                    <button onclick="guardarFactura()" class="bg-gradient-to-r from-green-800 via-green-700 to-green-500 hover:from-green-900 hover:via-green-800 hover:to-green-600 text-white shadow-lg transition-all duration-300 font-semibold cursor-pointer rounded-lg w-40 p-2 active:scale-95">
                        Guardar
                    </button>
                </div>
            </div>

            <div>

                <div class="overflow-y-auto block border-b-2 border-b-gray-200 max-h-[300px]">
                    <table class="min-w-[642px] overflow-x-auto w-full border-collapse mb-5" id="tabla-factura">
                        <thead class="table w-[100%] overflow-x-auto table-fixed font-bold p-3 border border-t-0  border-l-0 border-r-0 border-b-gray-200">
                            <tr>
                                <th class=" p-3">#</th>
                                <th class=" p-3">Producto</th>
                                <th class=" p-3">Cantidad</th>
                                <th class=" p-3">Precio Venta</th>
                                <th class=" p-3">Subtotal</th>       
                                <th class=" p-3">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo-factura" class="text-sm table-fixed font-medium text-center block">
                            
                            <tr class=" table w-[100%] table-fixed">
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">1</td>
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">Toña</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <input type="number" ${maxAttr} min="1" value="1" class="cantidad w-14 text-center border rounded" />
                                </td>
                                <td class="text-center m-auto wrap-break-word">
                                    C$<input type="number" min="1" value="${precio}" class="precio w-20 text-center border rounded" />
                                </td>
                                <td class="text-center px-2 py-1 subtotal font-semibold wrap-break-word p-2">C$ 60.3</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <button class="text-red-600 hover:text-red-800 eliminar-item p-2 rounded-lg hover:bg-gray-200">
                                        <svg fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                                            <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
                                            1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
                                            1-2.244 2.077H8.084a2.25 2.25 0 0 
                                            1-2.244-2.077L4.772 5.79m14.456 
                                            0a48.108 48.108 0 0 0-3.478-.397m-12 
                                            .562c.34-.059.68-.114 1.022-.165m0 
                                            0a48.11 48.11 0 0 1 3.478-.397m7.5 
                                            0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
                                            51.964 0 0 0-3.32 0c-1.18.037-2.09 
                                            1.022-2.09 2.201v.916m7.5 
                                            0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>  
                                    </button>
                                </td>
                            </tr>

                            

                        </tbody>
                    </table>   
                </div>

                <div class="flex justify-between items-center font-black mb-2 pt-2 px-4">
                    <span class="text-2xl">Total</span>
                    <span id="total-final" class="text-2xl text-green-700">C$0.00</span>
                </div>

            </div>

        </div>

        <div class="rounded-lg shadow-md border-2 border-gray-200">
        
            <div class="space-y-4 p-2 flex flex-col items-center justify-between w-full border-b-1 border-gray-200">
                <div class='flex justify-between w-full overflow-x-auto items-center mb-5'>
                    
                    <input 
                        type="text"
                        id="nombre-cliente"
                        placeholder='Inserta cliente...'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />

                    <select class='p-2 bg-gray-300 outline-none rounded-lg mr-1' name="tipo" id="tipo" onchange="handleTipoPago()">
                        <option value="1">Córdobas</option>
                        <option value="2">Dólares</option>
                        <option value="3">Mixto</option>
                        <option value="4">Tarjeta</option>
                    </select>

                    <input 
                        type="text"
                        id="efectivo"
                        placeholder='Córdobas'
                        class='p-2 bg-gray-300 outline-none rounded-lg w-48 mr-1'
                    />
                    
                    <button onclick="guardarFactura()" class="bg-gradient-to-r from-green-800 via-green-700 to-green-500 hover:from-green-900 hover:via-green-800 hover:to-green-600 text-white shadow-lg transition-all duration-300 font-semibold cursor-pointer rounded-lg w-40 p-2 active:scale-95">
                        Guardar
                    </button>
                </div>
            </div>

            <div>

                <div class="overflow-y-auto block border-b-2 border-b-gray-200 max-h-[300px]">
                    <table class="min-w-[642px] overflow-x-auto w-full border-collapse mb-5" id="tabla-factura">
                        <thead class="table w-[100%] overflow-x-auto table-fixed font-bold p-3 border border-t-0  border-l-0 border-r-0 border-b-gray-200">
                            <tr>
                                <th class=" p-3">#</th>
                                <th class=" p-3">Producto</th>
                                <th class=" p-3">Cantidad</th>
                                <th class=" p-3">Precio Venta</th>
                                <th class=" p-3">Subtotal</th>       
                                <th class=" p-3">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpo-factura" class="text-sm table-fixed font-medium text-center block">
                            
                            <tr class=" table w-[100%] table-fixed">
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">1</td>
                                <td class="text-center px-2 py-1 font-semibold wrap-break-word">Toña</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <input type="number" ${maxAttr} min="1" value="1" class="cantidad w-14 text-center border rounded" />
                                </td>
                                <td class="text-center m-auto wrap-break-word">
                                    C$<input type="number" min="1" value="${precio}" class="precio w-20 text-center border rounded" />
                                </td>
                                <td class="text-center px-2 py-1 subtotal font-semibold wrap-break-word p-2">C$ 60.3</td>
                                <td class="text-center px-2 py-1 wrap-break-word">
                                    <button class="text-red-600 hover:text-red-800 eliminar-item p-2 rounded-lg hover:bg-gray-200">
                                        <svg fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
                                            <path stroke-linecap="round" stroke-linejoin="round" 
                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 
                                            1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 
                                            1-2.244 2.077H8.084a2.25 2.25 0 0 
                                            1-2.244-2.077L4.772 5.79m14.456 
                                            0a48.108 48.108 0 0 0-3.478-.397m-12 
                                            .562c.34-.059.68-.114 1.022-.165m0 
                                            0a48.11 48.11 0 0 1 3.478-.397m7.5 
                                            0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 
                                            51.964 0 0 0-3.32 0c-1.18.037-2.09 
                                            1.022-2.09 2.201v.916m7.5 
                                            0a48.667 48.667 0 0 0-7.5 0" />
                                        </svg>  
                                    </button>
                                </td>
                            </tr>

                            

                        </tbody>
                    </table>   
                </div>

                <div class="flex justify-between items-center font-black mb-2 pt-2 px-4">
                    <span class="text-2xl">Total</span>
                    <span id="total-final" class="text-2xl text-green-700">C$0.00</span>
                </div>

            </div>

        </div>

    
    </div>

</div>
{% endblock %}


{% block scripts %}

{% endblock %}
