{% extends "../../base.html" %}
{% load static %}

{% block content %}
  <div class="container mx-auto max-w-full p-4 pt-1 rounded-md shadow-md">

    <div class="mb-2 flex justify-between">
      <div>
        <h1 class="text-3xl font-bold text-gray-900 mb-2">Control de Mesas</h1>
        <p class="text-gray-600">Mesas Ocupadas {{ numMesas }}</p>
      </div>

      {% csrf_token %}
      <div class="mt-4">
        <button id="btn-agregar-mesa" class="inline-flex items-center px-4 py-2 relative bg-gradient-to-r from-amber-500 to-orange-500 hover:from-amber-600 hover:to-orange-600 text-white font-semibold bg-amber-500 rounded-md shadow-md cursor-pointer transition-all duration-200 hover:shadow-lg active:scale-95">
          <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w-6 h-6 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
          </svg>
          Agregar Mesa
        </button>
      </div>
    </div>

    <hr class='border-gray-500/30 mb-4 border-b-2' />

    {% comment %} Table Cards {% endcomment %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4">

        <div id="btn-nueva-factura" class="flex flex-col justify-center items-center space-y-2 p-4 bg-gray-50 rounded-lg shadow-md cursor-pointer transition-all duration-200 hover:shadow-lg hover:scale-105">
          <div class="text-xl font-bold text-gray-900">Facturar</div>

          <div class='w-15 h-15 rounded-full flex items-center justify-center'>
            <div class="flex items-start rounded-full bg-amber-500/80 p-2">
              <img alt="Comedor" src="{% static 'icon/invoice.svg' %}" class="">
            </div>
          </div>  

          <div variant="secondary" class='text-green-700 bg-gray-50'>
            Nueva Factura
          </div>

        </div>
      {% for info in mesas %}
      <div onclick="window.location.href='{% url "agregar_cuentas" info.mesa_id %}'" class="relative flex flex-col items-center space-y-2 p-4 px-4 pb-4 bg-gray-50 rounded-lg shadow-md cursor-pointer transition-all duration-200 hover:shadow-lg hover:scale-105">

        <div class="text-xl font-bold text-gray-900">Mesa {{ info.numero }}</div>

        <div class='w-15 h-15 rounded-full flex items-center justify-center'>
          <div class="flex items-start rounded-full bg-green-500/80 p-2">
            <img alt="Comedor" src="{% static 'icon/diningTable.svg' %}" class="">
          </div>
        </div>
  
        <div variant="secondary" class='text-green-700 bg-gray-50'>
          Ocupada
        </div>

        <div class="text-xs text-gray-500 text-center">
          <div><span class="font-semibold">Cliente: </span> {{ info.cliente }}</div>
          <div><span class="font-semibold">Mesero: </span> {{ info.mesero }}</div>
          <div class="flex items-center justify-center space-x-1 mt-1">
            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
            <span class="tiempo-activo" data-hora="{{ info.hora|date:'c' }}"></span>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}

{% block scripts %}
  {% comment %} <script>
    const URL_AGREGAR_MESA = "{% url 'agregar_mesa' %}";
  </script> {% endcomment %}

  <script>
    function getCSRFToken() {
      return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }
  </script>

  <script src="{% static 'js/agregarMesa.js' %}"></script>
{% endblock %}