{% extends "../../base.html" %}
{% load static %}

{% block content %}
    <div class="container mx-auto p-4 max-w-full rounded-md shadow-md">

        <div class="flex justify-between items-center mb-5">
            <div>
                <h1 class="text-3xl font-bold text-gray-900 mb-2">Control de Platillos</h1>
                <p class="text-gray-600">Platillos Disponibles</p>
            </div>

            <input 
                id="searchTerm"
                onkeyup="doSearch()"
                placeholder='Search by name...'
                value=""
                class='p-2 bg-gray-300 outline-none rounded-lg w-[18%]'
                onChange=""
            />

            <a href="{% url "listar_platos_inactivos" %}" 
                class="bg-gradient-to-l from-yellow-600 via-yellow-500 to-yellow-300 hover:from-yellow-700 hover:via-yellow-600 hover:to-yellow-400 
                    rounded-lg w-[18%] h-10 p-2 text-gray-100 font-semibold flex items-center justify-center  gap-4
                    transition-all duration-300 cursor-pointer">

                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-ellipsis overflow-hidden whitespace-nowrap">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
                </svg>

                Ver Inactivos
            </a>

            <select id="filtroCategoria" class="p-2 bg-gray-300 outline-none rounded-lg w-[18%] text-gray-700" onchange="filtrarProductos()">
                <option value="">Filtrar por categoría</option>
                {% for categoria in categorias %}
                <option value="{{ categoria.categoriaid }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>

            <a href="{% url "agregar_plato" %}" class="inline-flex items-center px-4 py-2 relative bg-gradient-to-r from-amber-500 to-orange-500 hover:from-amber-600 hover:to-orange-600 text-white font-semibold bg-amber-500 rounded-md shadow-md cursor-pointer transition-all duration-200 hover:shadow-lg active:scale-95">
                <svg class="size-6 w-6 h-6 mr-2 whitespace-nowrap" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" /> 
                </svg>
                Agregar Platillo
            </a>

        </div>

        <hr class=' border-gray-500/30 mb-4 border-b-2' />

        <div id="productos-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4 auto-rows-max overflow-y-auto p-2 rounded-lg">
            
            {% for plato in platos %}
            <div class="flex flex-col justify-between rounded-lg">

                <div class="flex-1 object-contain relative bg-gradient-to-tr from-gray-100 via-gray-300/90 to-gray-100 text-gray-800 rounded-lg rounded-b-none">
                    {% comment %} <img src="{% static 'image/pulpo.avif' %}" alt="defaultImage" class="object-contain w-full h-32 rounded-lg rounded-b-none" /> {% endcomment %}
                    <img src="{% static 'productos/' %}{{ plato.rutafoto }}?v={{ plato.updated_at.timestamp }}" class="object-contain w-full h-32 rounded-lg rounded-b-none">

                    <!-- Ícono de ojo -->
                    <button class="ver-detalles absolute top-2 right-2 p-1 bg-opacity-90 rounded-full cursor-pointer transition-all duration-200 hover:scale-110"
                            data-nombre="${plato.nombre}" 
                            data-categoria="${plato.categoria || ''}" 
                            data-descripcion="${plato.descripcion || 'Sin descripción'}"
                            data-imagen="${plato.imagen}">
                        <svg fill="none" class="w-5 h-5" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
                                d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>


                <div class="flex flex-col items-center justify-between p-2 bg-white rounded-lg rounded-t-none shadow-md">
                    <div class="w-full flex items-center justify-center">
                        <h1 class="font-black text-xl">{{ plato.nombre }}</h1>
                    </div>
                    <div class="flex flex-row w-full items-center justify-between mt-2">
                        <div class="flex flex-col items-center justify-between">
                            <span class="font-black text-3xl text-green-600">C$ {{ plato.precio }}</span>
                        </div>

                        <div class="flex">
                            <a href="#" onclick="window.location.href='actualizarPlato/{{ plato.platoid }}'" class="btn">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-11 rounded-lg text-emerald-600 hover:bg-gray-300 p-2  w-full">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                </svg>
                            </a> 

                            <a href="#" onclick="eliminarPlato({{ plato.platoid }})" class="btn">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-11 rounded-lg text-red-500 hover:bg-gray-300 p-2 w-full">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                </svg> 
                            </a>

                        </div>

                    </div>
                </div>

            </div>  
            {% endfor %}
            
        </div>

    </div>

{% endblock %}

{% block scripts %}

<script>
    function getCSRFToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }
</script>

<script>
  // Esto estará disponible para tu JS externo
  const defaultImageUrl = "{% static 'image/defaultImage.png' %}";
</script>
<script src="{% static "js/eliminar.js" %}"></script>
<script src="{% static "js/listarProductos.js" %}"></script>
<script src="{% static "js/search.js" %}"></script>

{% endblock %}