{% extends "../../base.html" %}
{% load static %}

{% block content %}
<div class="h-full p-1 grid grid-rows-3 gap-1 border border-gray-300 rounded-xl shadow-2xl">
    
    <!-- Card Estado: Pendiente -->
    <div class="rounded-xl overflow-x-auto overflow-y-hidden max-w-full">

        <div id="pedidos-pendientes" class="grid grid-flow-col auto-cols-[300px] gap-4">
            
        </div>

    </div>

    <!-- Card Estado: En Proceso -->
    <div class="rounded-xl overflow-x-auto overflow-y-hidden max-w-full">

        <div id="pedidos-proceso" class="grid grid-flow-col auto-cols-[300px] gap-4">

        </div>    

    </div>

    <!-- Card Estado: Listo -->
    <div class="rounded-xl overflow-x-auto overflow-y-hidden max-w-full">
        
        <div id="pedidos-listos" class="grid grid-flow-col auto-cols-[300px] gap-4">

        </div>
        
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/update_cocina.js' %}"></script>

{% endblock %}