{% load static %}
<div class="dark:bg-secondary-100 shadow-2xl p-8 rounded-xl border border-gray-300">
    <div class='flex items-center justify-between mb-4'>
                
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-4xl p-2 rounded-xl box-content bg-pink-500/10 text-pink-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
        </svg>

        <div class="flex justify-around gap-x-2 items-center hover:bg-gray-300 p-2 rounded-lg transition-colors cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 12.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5ZM12 18.75a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5Z" />
            </svg>
        </div>
        {% comment %} <Menu
            menuButton={
                <MenuButton class='flex justify-around gap-x-2 items-center dark:hover:bg-secondary-900 hover:bg-gray-300 p-2 rounded-lg transition-colors'>
                    <RiMore2Fill class='text-gray-700 dark:text-secondarydark-900'/>
                </MenuButton>}
        > {% endcomment %}
            {% comment %} <MenuItem class="p-0 hover:bg-transparent">
                <Link to="/" class='rounded-lg transition-colors dark:text-gray-300 dark:hover:bg-secondary-900 hover:bg-gray-300 flex items-center justify-center gap-2 p-2 flex-1'>
                    Ver Tickets
                </Link>
            </MenuItem>

            <MenuItem class="p-0 hover:bg-transparent">
                <Link to="/" class='rounded-lg transition-colors dark:text-gray-300 dark:hover:bg-secondary-900 hover:bg-gray-300 flex items-center justify-center gap-2 p-2 flex-1'>
                    Información
                </Link>
            </MenuItem> {% endcomment %}
        {% comment %} </Menu> {% endcomment %}
    </div>
    {% comment %} Number of tickets {% endcomment %}
    <div>
        <h1 class='text-4xl font-bold mb-4 text-gray-700 dark:text-secondarydark-900'>145, 000</h1>
        <p class='text-gray-700 dark:text-secondarydark-900'>Ventas Totales</p>
    </div>
    {% comment %} Footer Card {% endcomment %}
    <hr class='border border-dashed border-gray-500/50 my-4' />
    <div>
        <Link to="/" class='flex items-center gap-2 text-blue-700 dark:text-sky-400 hover:underline'>  
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Agregar nuevo Ticket </Link>
    </div>
</div>