{% load static %}
<div class="grid grid-cols-1 grid-rows-2 gap-2">
    
    <div class="border bg-white border-gray-300 shadow-2xl rounded-xl">
        
        <div class='flex items-center justify-between m-4'>

            <svg class="size-6 text-4xl p-2 rounded-xl box-content bg-red-500/10 text-red-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
            </svg>

            <p class='text-2xl font-semibold text-gray-700 w-[70%] text-clip'>Mesas Ocupadas</p>

        </div>

        <div class="flex items-center justify-center p-2 text-gray-500">
            {% if mesas_ocupadas %}
            <h1 class='text-5xl font-bold'>{{ mesas_ocupadas }}</h1>
            {% else %}
            <h1 class='text-5xl font-bold'>0</h1>
            {% endif %}
        </div>

    </div>

    <div class="border bg-white border-gray-300 shadow-2xl rounded-xl">
        
        <div class='flex items-center justify-between m-4'>

            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-4xl p-2 rounded-xl box-content bg-blue-500/10 text-blue-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>


            <p class='text-2xl font-semibold text-gray-700 w-[70%] '>Total Ventas</p>

        </div>

        <div class="flex items-center justify-center p-2 text-gray-500">
            {% if caja %}
            <h1 class='text-5xl font-bold'>{{total_ventas}}</h1>
            {% else %}
            <h1 class='text-5xl font-bold'>0</h1>
            {% endif %}
        </div>

    </div>


</div>

