{% load static %}
<div class="grid grid-cols-1 grid-rows-2 gap-2">
    
    <div class="border bg-white border-gray-300 shadow-2xl rounded-xl">
        
        <div class='flex items-center justify-between m-4 mb-0'>

            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-4xl p-2 rounded-xl box-content bg-yellow-500/10 text-yellow-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
            </svg>
            <p class='text-2xl font-semibold text-gray-700 dark:text-secondarydark-900'>Efectivo en Caja</p>

        </div>

        <div class="m-4 mt-0 pl-21 text-green-500">
            {% if caja %}
            <h1 class='text-2xl font-bold text-green-500 dark:text-secondarydark-900'>C$ {{efectivo_cordobas|floatformat:2}}</h1>
            <h1 class='text-2xl font-bold text-green-500 dark:text-secondarydark-900'>$ {{efectivo_dolares|floatformat:2}}</h1>
            {% else %}
            <h1 class='text-2xl font-bold text-green-500 dark:text-secondarydark-900'>C$ 0.00</h1>
            <h1 class='text-2xl font-bold text-green-500 dark:text-secondarydark-900'>$ 0.00</h1>
            {% endif %}
        </div>

    </div>

    <div class="border bg-white border-gray-300 shadow-2xl rounded-xl">
        
        <div class='flex items-center justify-between m-4 mb-0'>

            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-4xl p-2 rounded-xl box-content bg-green-500/10 text-green-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>

            <p class='text-2xl font-semibold text-gray-700 dark:text-secondarydark-900'>Total de Ingresos</p>

        </div>

        <div class="m-4 mt-3 pl-19 text-green-500">
            {% if caja %}
            <h1 class='text-3xl font-bold text-green-500' >C$ {{ingresos_cordobas|floatformat:2 }}</h1>
            {% else %}
            <h1 class='text-3xl font-bold text-green-500' >C$ 0.00</h1>
            {% endif %}
        </div>

    </div>

</div>

