{% load static %}
<div class="dark:bg-secondary-100 shadow-2xl p-8 rounded-xl border bg-white border-gray-300 disabled:opacity-50">

    {% comment %} Header Card {% endcomment %}
    <div class='h-12 flex items-center justify-between mb-4'>

        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-4xl p-2 rounded-xl box-content bg-red-500/10 text-red-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
        </svg>

    </div>

    <div class="">
        <h1 class='text-3xl font-bold mb-4 text-gray-700 dark:text-secondarydark-900'>Cerrar Caja</h1>
        <div class=" flex items-center gap-2 mb-2 justify-between">
            <p class='font-semibold text-gray-700 dark:text-secondarydark-900'>Tiempo Activo:</p>
            
            <div class="flex items-center gap-2 ">
                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-red-500">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <p id="tiempo-abierta">
                    0m
                </p>
            </div>
            
        </div>
    </div>

    <hr class='border border-dashed border-gray-500/50 my-4' />
    <div id="btnCerrarCaja" class="flex items-center justify-center bg-gradient-to-r from-red-700 via-red-600 to-red-400 hover:from-red-800 hover:via-red-700 hover:to-red-500 text-white shadow-lg transition-all duration-300 rounded-lg active:scale-95 p-1 mb-2 cursor-pointer ">
        <a class='font-semibold flex items-center gap-2 text-gray-100 justify-around '>  

            <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-4xl p-2 rounded-xl box-content text-gray-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>
            Cerrar Caja
        </a>
    </div>

</div>